<form 
    hx-post="/Clothes/Create"
    hx-target="#result"
    hx-target-400="#error-message"
    hx-swap="innerHTML"
    enctype="multipart/form-data"
    hx-swap-oob="true"

    id="main-form"
    >
    
    @Html.AntiForgeryToken()

    <div id="error-message" hx-swap-oob="true"></div>
    <div class="form-group">
        <label for="exampleInputEmail1">Nome da roupa: </label>
        <input 
            class="form-control" 
            name="Name" 
            placeholder="Name" 
            />
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Descrição: </label>
        <input 
            class="form-control" 
            name="Description" 
            placeholder="Description" 
            />
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Preço: </label>
        <input 
            class="form-control" 
            type="number" 
            step="0.01" 
            name="Price" 
            placeholder="Price" 
         />
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Preço da lavagem: </label>
        <input 
            class="form-control" 
            type="number" 
            step="0.01" 
            name="WashingPrice" 
            placeholder="Washing Price" 
         />
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Uma imagem: </label>
        <input 
            class="form-control" 
            type="file" 
            name="Image" 
            accept="image/*" />
    </div>

    <div class="py-2">
        <button class="btn btn-primary" type="submit">Salvar roupa</button>
    </div>
</form>